<h1>
    Welcome message: {{welcome}}
</h1>
<p>
    Users status: {{links.users}}
</p>
<p>
    Movie satus: {{links.movies}}
</p>
<p>
    <a ng-href="{{links.getAllMovie}}">Click Here to get all movies</a>
</p>
<p>
    <a ng-href="{{links.getAllUsers}}">Click here to get all users</a>
</p>